.toast-message-container {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 400px;
    z-index: 1000;
    border-radius: 1rem;
    user-select: none;
    animation: slide-in 0.5s ease-out;
}