.toast-message-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    font-weight: 500;
    font-family: monospace;
    font-style: italic;
    box-shadow: -10 20px 2px #000;
    animation: slide-in .5s linear;
    z-index: 1000;
    background-color: var(--primary-color);
}

.INFO {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
}

.ERROR {
    border: 1px solid #ce0b0b;
    background-color: #ce0b0b;
}

.WARNING {
    border: 1px solid orange;
    background-color: orange;
    color: var(--primary-color);
}

.SUCCESS {
    border: 1px solid green;
    background-color: green;
}

.toast-close-button {
    background: none;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--secondary-color);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;

}

.toast-close-button:hover {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}