.main {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-match-btn-container {
    height: fit-content;
    width: fit-content;
}

.find-match-btn-container button {
    font-size: x-large;
    width: 9rem;
}