<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Blazor.styles.css" />
    <link rel="icon" type="image/png" href="Assets/atlas_logo.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />

    <!-- Load ENV  -->

    <script>
        window.env = {
            HUB_ENDPOINT: '@Environment.GetEnvironmentVariable("HUB_ENDPOINT")',
        };
    </script>
    <script type="module" src="Js/main.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="Packages/signalr/signalr.min.js"></script>
    <script src="Packages/pixijs/pixi.min.js"></script>
    <script type="module" src="Js/auth.js"></script>
    <script type="module" src="Js/board.js"></script>
    <script type="module" src="Js/game.js"></script>
    <script type="module" src="Js/main.js"></script>
    <script>
        function setDefaultReconnectionHandler() {
           let handler = window.Blazor.defaultReconnectionHandler  
            if (!handler) {
                setTimeout(()=>{
                    setDefaultReconnectionHandler()
                },1000)
                
            }else{
               handler._reconnectCallback = function (d) {document.location.reload();} 
            }
        }
        setDefaultReconnectionHandler()
    </script>
</body>

</html>
