.clock-container {
    position: absolute;
    top: -100%;

    width: 80px;
    height: 40px;
    right: calc(50% - 40px);
    color: var(--secondary-color);
    border-radius: 1rem;
    outline: 1px solid var(--secondary-color);
    transition: top 0.5s linear, outline 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-family: monospace;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.showing {
    top: .5rem;
    outline: 3px solid var(--secondary-color);
}