@page "/cards"

@using Blazor.Components.Navigation
@using Blazor.Components.Redirect.RedirectOnClaim
@using Blazor.Components.TCard
@using Blazor.models
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<PageTitle>Cards</PageTitle>
<RedirectOnClaim ClaimName="Id" RedirectOnFailure="/" />
<div class="page-container">
    <Navbar />
    <div class="main hide-scrollbar">

        @foreach (Card c in Card_list)
        {
            <TCard CCard="c"></TCard>
        }
        <AuthorizeView Roles="admin">
            <Authorized>
                <div class="btn-container">
                    <button @onclick="@NavigateToAdd">Add</button>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</div>
