@page "/cards"

@using Blazor.Components.Navigation
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<PageTitle>Cards</PageTitle>

<div class="page-container">
    <Navbar />
    <div class="main">

    </div>
</div>