@page "/cards"

@using Blazor.Components.Navigation
@using Blazor.Components.TCard
@using Blazor.models
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<PageTitle>Cards</PageTitle>

<div class="page-container">
    <Navbar />
    <div class="main">

        @foreach (Card c in Card_list)
        {
            <TCard CCard="c"></TCard>
        }

    </div>
</div>
